{% extends '../base.html' %}

{% block title %}Главная страница{% endblock %}
    
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'postt' %}"><i style="font-size: 30px; color: white;" class="fa-solid fa-arrow-left"></i></a></li>
  </ol>
</nav>

<h1 class="title text-light">Пост пользователя @{{post.userPost.username}}</h1>
        <div class="card bg-light text-dark mb-3">
            <div class="card-body">
                <div style="border-bottom: solid black 1px;">
                    <h4 class="subtitle is-4">{{ post.postDate }}</h4>
                </div>
                    <p class="mt-2">{{ post.content }}</p>
                    {% if request.user == post.userPost %}
                    <a href="{% url 'editPost' pk=post.pk %}" class="btn bg-primary text-light mt-3">Изменить</a>
                    <a href="{% url 'deletePost' pk=post.pk %}"  style="color: white;" class="btn bg-danger mt-3">Удалить</a>
                    {% else %}
                    {% endif %}
            </div>
        </div>

{% if user.is_authenticated %}
         <div class="add_post bg-success">
            <a href="{% url 'addPost' %}"><i class="fa-solid fa-plus" style="color: white;"></i></a>
        </div>
{% else %}
{% endif %}
{% endblock %}